<%- include('userHead') %>

<body style="background-color: rgba(0, 0, 0, 0.212)">
  <header
    style="background-color: rgb(202, 202, 202)"
    class="main_menu home_menu"
  >
  <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">AbayaStore</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="/shop">Products</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li>
	         
	          <li class="nav-item active"><a href="/contact" class="nav-link">Contact</a></li>
	          <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
  </header>

  <div class="container-fluid mt-100">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-top: 100px" class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img
              src="/images/green_tick-removebg-preview.png"
              width="130"
              height="130"
              class="img-fluid mb-4 mr-3"
            />
            <h3><strong>Your Order is Confirmed</strong></h3>
            <h4>Thank you for shopping with us</h4>
            <a
              href="/shop"
              class="btn btn-dark cart-btn-transform m-3"
              data-abc="true"
              >continue shopping</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('footer') %>
